
<button type="button " class="btn btn-danger btnstyl" routerLink="/up-comming">Upcomming</button>
<div class="container">
    <div class="row">
    <div class="col-sm-4 col-xs-6 "  *ngFor="let item of data">
        <div class="card"> 
            <h5 style="border-bottom: 1px solid #d4d2d2;padding-bottom: 5px;">{{item.title}}</h5>
            <div><h6><span class="material-icons iconstyl">grade</span>{{item.popularity}}%</h6></div>
            <div><h6><span class="material-icons iconstyl"> event_note </span>{{item.release_date}}</h6><div>
            <div><h6> <span class="material-icons iconstyl"> poll </span>{{item.vote_count}}</h6><div>
            <div><h6><span class="material-icons  iconstyl"> thumb_up </span>{{item.vote_average}}</h6><div>
                <h6>overview</h6>
            <div class="overviewstyl"> <p>{{item.overview}}</p></div>   
        </div>
    </div>
    </div>

</div>